.honor-cn {
    -webkit-tap-highlight-color: transparent;
    font-family: "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    overflow-x: hidden;
    background-color: azure;
}

.honor-cn * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0 0 10px;
}

/* 导航栏 */
.header {
    width: 100%;
    min-width: 1200px;
}

.header-v2 {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    height: 69px;
    color: #fff;
    text-align: center;
    background-color: #000;
    z-index: 1001;
}

.honor-cn .ho-middle {
    position: static;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    /* display: -webkit-flex; */
    display: -moz-flex;
    display: flex;
    margin: 0 20px;
    height: 67px;
    line-height: 0;
}

/* 左边的logo */
@media screen and (max-width: 1366px) {
    .header-v2 .honor-logo {
        width: 126px;
        letter-spacing: 4px;
    }
}

.header-v2 .honor-logo {
    float: left;
    width: 141px;
    height: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.honor-cn img {
    max-width: 100%;
}

/* 中间的内容 */
@media screen and (max-width: 1366px) {
    .header-v2 .header-nav {
        width: 830px;
    }
}

@media screen and (max-width: 1440px) {
    .header-v2 .header-nav {
        width: 955px;
    }
}

.header-v2 .header-nav {
    position: static;
    display: inline-block;
    height: 67px;
    background-color: #000;
    width: 1024px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    margin: 0 auto;
}

.header-nav li {
    padding: 0 30px;
}

.header-v2 .header-nav .main-nav .subnav-title>a {
    line-height: 67px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header-v2 .header-nav li .subnav-title>a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 67px;
    font-size: 16px;
    color: #fff;
}

/* 右边内容  */
.header-right {
    width: 152px;
    height: 67px;
}

.si {
    float: left;
    margin-left: 62px;
    width: 40px;
    height: 67px;
    padding-top: 33px;
    margin-right: 9px;
}

.st {
    float: left;
    width: 40px;
    height: 67px;
    padding-top: 33px;
}

/* 字体图标 */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.linear-line {
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, #0ff, #00b1ff 33%, #bd00fe 69%, #ff00d0);
}

/* 二.内容  */
#app {
    font-size: 0;
}

#app .kv-box {
    width: 100%;
    height: 9rem;
    background: url(../images/honour/kv-pc.jpg) 0 0 no-repeat;
    background-size: cover;
}

#app .block {
    height: 2.73rem;
    box-sizing: border-box;
    padding-top: 1.1rem;
    background: #ffffff;
}

#app .title {
    color: #000000;
    font-size: .28rem;
    letter-spacing: 0.04rem;
    text-align: center;
    font-weight: bold;
}

#app .title {
    color: #000000;
    font-size: .28rem;
    letter-spacing: 0.04rem;
    text-align: center;
    font-weight: bold;
}

#app .area-box {
    height: 11.64rem;
    box-sizing: border-box;
    padding-top: 1.28rem;
    width: 100%;
    background: url(../images/honour/comment-bk.png) 0 0 no-repeat;
    background-size: cover;
    position: relative;
}

#app .title-w {
    color: #ffffff;
    font-size: .28rem;
    letter-spacing: 0.04rem;
    text-align: center;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

#app .title-w {
    color: #ffffff;
    font-size: .28rem;
    letter-spacing: 0.04rem;
    text-align: center;
    font-weight: bold;
}

#app .area-box .area-btn {
    position: absolute;
    width: 1rem;
    height: 2rem;
    right: 4rem;
    top: 3.5rem;
    cursor: pointer;
}

#app .area-box .comment-box {
    position: absolute;
    right: 6.5rem;
    top: 4.8rem;
    width: 4.8rem;
    height: 4rem;
}

#app .area-box .comment-box .comment-list {
    width: 100%;
    height: 2.9rem;
    margin-bottom: .2rem;
    overflow-y: hidden;
}

#app .area-box .comment-box .comment-list .comment-items {
    display: flex;
    height: 1.17rem;
    width: 100%;
    margin-bottom: .25rem;
    padding-left: .2rem;
    position: relative;
}

#app .area-box .comment-box .comment-list .comment-items .avatar-dot {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: .14rem;
    height: .14rem;
    background-color: #c5cfff;
    border-radius: 50%;
}

#app .area-box .comment-box .comment-list .comment-items .avatar {
    width: .64rem;
    height: .64rem;
}

img {
    vertical-align: middle;
}

#app .area-box .comment-box .comment-list .comment-items .item-content {
    margin-left: .2rem;
    font-size: .16rem;
    background: #C5CFFF;
    border-radius: .25rem;
    padding: 0 .1rem;
    height: .62rem;
    line-height: .62rem;
    box-sizing: border-box;
    position: relative;
}

p {
    margin: 0 0 10px;
}

#app .area-box .comment-box .comment-list .comment-items .triangle {
    position: absolute;
    left: -0.18rem;
    top: .16rem;
    width: 0;
    height: 0;
    border-right: .1rem solid #c4cfff;
    border-left: .1rem solid transparent;
    border-top: .1rem solid transparent;
    border-bottom: .1rem solid transparent;
}

/* 去除滚动条 */
::-webkit-scrollbar {
    display: none;
}

#app .area-box .comment-box .input-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#app .area-box .comment-box .input-box .input {
    width: 3rem;
    height: .57rem;
    line-height: .57rem;
    background: white;
    box-shadow: 0 0 0.15rem 1px #4C62A7;
    border-radius: .29rem;
    box-sizing: border-box;
    padding: 0 .3rem;
    flex-grow: 1;
    font-size: .2rem;
    border: none;
    resize: none;
    outline: none;
    display: inline-block;
}

#app .area-box .comment-box .input-box .btn {
    border: 0;
    margin-left: -1rem;
    width: 1.37rem;
    height: .67rem;
    line-height: .67rem;
    background: #4C62A7;
    border-radius: .325rem;
    display: inline-block;
    padding: 0;
    text-align: center;
    font-size: .18rem;
    color: #FFFFFF;
    /* flex-grow: 2; */
}

/* 隐藏的内容 */
.layui-layer {
    display: none;
    position: fixed;
    z-index: 19891026;
    width: auto;
    top: 79.49px;
    left: 323.692px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
    border-radius: 2px;
    animation-fill-mode: both;
    animation-duration: .3s;
}

.layui-layer-setwin {
    position: absolute;
    right: 15px;
    *right: 0;
    top: 15px;
    font-size: 0;
    line-height: initial;
}

.layui-layer-setwin .layui-layer-close2 {
    position: absolute;
    right: -28px;
    top: -28px;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -149px -31px;
    *right: -18px;
    _display: none;
}

.layui-layer-ico {
    background: url(../images/honour/icon.png) no-repeat;
}


/* 弹出的输入框 */

.el-dialog__wrapper {
    display: none;
    background-color: #2627436b;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
}

.el-dialog {
    background: #FFF;
    position: relative;
    margin: 0 auto 50px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    width: 50%;
}

.el-dialog__header {
    padding: 20px 20px 10px;
}

.el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    color: #303133;
}

.el-dialog__body {
    padding: 30px 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}

.el-form-item {
    margin-bottom: 22px;
}

.el-form-item__label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.el-form-item__content {
    line-height: 40px;
    position: relative;
    font-size: 14px;
}

.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.el-dialog__footer {
    padding: 10px 20px 20px;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dialog-footer {
    text-align: right;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.el-button+.el-button {
    margin-left: 10px;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.el-button--primary {
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
}

.el-form-item__error {
    display: none;
    color: #F56C6C;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
}

/* 3 */
#app .enter-box {
    width: 100%;
    height: 19.5rem;
    box-sizing: border-box;
    padding-top: 1.24rem;
    background: url(../images/honour/enter-bk.png) 0 0 no-repeat;
    background-size: cover;
    position: relative;
}

#app .enter-box .enter-btn {
    position: absolute;
    width: 1rem;
    height: 2rem;
    left: 3.3rem;
    top: 3rem;
    cursor: pointer;
}

#app .enter-box .lottery-btn {
    position: absolute;
    width: 1rem;
    height: 2rem;
    left: 3.3rem;
    top: 5.6rem;
    cursor: pointer;
}

#app .title {
    color: #000000;
    font-size: .28rem;
    letter-spacing: 0.04rem;
    text-align: center;
    font-weight: bold;
}

#app .title-w {
    color: #ffffff;
    font-size: .28rem;
    letter-spacing: 0.04rem;
    text-align: center;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

#app .enter-box .enter-list {
    display: flex;
    justify-content: space-around;
    width: 17rem;
    margin: 1.2rem auto 0;
}

#app .enter-box .enter-list .enter-item {
    height: 1.94rem;
    width: 1.94rem;
}

/* 中奖名单  */
.layui-layers {
    display: none;
    position: fixed;
    z-index: 19891015;
    width: auto;
    top: 37.99px;
    left: 513.906px;
}

/* 轮播图 */
#app .swiper-box {
    height: 12.54rem;
    box-sizing: border-box;
    padding-top: 1.67rem;
    width: 100%;
    background: white;
    background-size: cover;
}

#app .swiper-box .carousel-box {
    width: 16.66rem;
    margin: 1.72rem auto 0;
}

.poster-main {
    position: relative;
    margin: 50px auto;
}

.poster-main .poster-list .poster-item {
    position: absolute;
    left: 0;
    top: 0;
}

.poster-main .poster-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.poster-main .poster-prev-btn {
    left: 0;
    background: url("../images/honour/btn_l.png") no-repeat center center;
}

.poster-main .poster-next-btn {
    right: 0;
    background: url("../images/honour/btn_r.png") no-repeat center center;
}

/* 五.服务 */
.footer {
    width: 100%;
    min-width: 1200px;
    font-family: 'Avenir Next Regular', 'ProximaNova';
}

.footer-cn {
    background: #f5f5f5;
    width: 100%;
    font-family: 'Microsoft YaHei';
}

.footer-box {
    background: #f0f0f0;
    width: 100%;
}

.footer-cn .line-top {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer .wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer .footer-cn .np {
    padding-top: 45px;
    padding-bottom: 20px;
}

.footer-box .wrapper ul.more5 {
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.footer-cn .wrapper ul {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    width: 70%;
    float: left;
}

.footer-box .wrapper ul {
    overflow: hidden;
    padding-left: 0;
}

.footer-box .wrapper ul.more5 li {
    width: inherit;
}

.footer-cn li {
    width: 20%;
    position: relative;
}

.footer-box li {
    list-style: none;
    float: left;
    width: 25%;
}

.footer-cn .bottom {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

.footer-cn li h3 {
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
}

.footer-box li h3 {
    margin-bottom: 22px;
    font-size: 17px;
}

.honor-cn h1,
.honor-cn h2,
.honor-cn h3,
.honor-cn h4,
.honor-cn h5,
.honor-cn h6 {
    font-family: "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    color: #000;
}

.footer-cn .cnplus {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 47px;
    z-index: 1;
    cursor: pointer;
}

.footer-box li .item-link {
    display: inline-block;
    font-size: 12px;
}

.footer-cn li .item-link p,
.footer-cn li .item-link a {
    font-size: 14px;
    font-family: 'Microsoft YaHei';
}

.footer-box li .item-link a,
.footer-box li .item-link p {
    display: block;
    color: #666;
    line-height: 1.25;
    margin: 0;
    padding: 6px 0;
    word-break: break-word;
}

.footer-cn .bottom {
    text-align: center;
    padding-top: 260px;
    padding-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

.footer-cn .bottom .link a:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-cn .bottom .link a {
    padding: 0 10px;
}


.footer-cn .concat-part .service-title {
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    position: relative;
    top: -3px;
    left: 5px;
}

.footer-cn .concat-part .phone-number {
    font-size: 24px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
}

.footer-cn .concat-part {
    float: left;
    line-height: 40px;
    padding-left: 90px;
    padding-top: 20px;
}

.footer-cn .concat-part .social-title {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    margin-right: 10px;
}

.social-media {
    margin-top: 10px;
}

.footer-cn .bottom {
    margin-top: 182px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

.itemLists {
    padding-left: 1px;
}

/* 返回顶部 */
.go-back-top {
    display: none;
    position: fixed;
    bottom: 38px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

.back-content {
    position: relative;
    width: 44px;
    height: 44px;
    color: #fff;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.23);
    background-color: #000;
    border-radius: 50%;
}

.top-tip {
    margin-top: -16px;
    margin-bottom: 0;
    font-size: 14px;
    transform: none;
}