.honor-cn {
    -webkit-tap-highlight-color: transparent;
    font-family: "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    overflow-x: hidden;
    background-color: azure;
}

.honor-cn * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 导航栏 */
.header {
    width: 100%;
    min-width: 1200px;
}

.header-v2 {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    height: 69px;
    color: #fff;
    text-align: center;
    background-color: #000;
    z-index: 1001;
}

.honor-cn .ho-middle {
    position: static;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    /* display: -webkit-flex; */
    display: -moz-flex;
    display: flex;
    margin: 0 20px;
    height: 67px;
    line-height: 0;
}

/* 左边的logo */
@media screen and (max-width: 1366px) {
    .header-v2 .honor-logo {
        width: 126px;
        letter-spacing: 4px;
    }
}

.header-v2 .honor-logo {
    float: left;
    width: 141px;
    height: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.honor-cn img {
    max-width: 100%;
}

/* 中间的内容 */
@media screen and (max-width: 1366px) {
    .header-v2 .header-nav {
        width: 830px;
    }
}

@media screen and (max-width: 1440px) {
    .header-v2 .header-nav {
        width: 955px;
    }
}

.header-v2 .header-nav {
    position: static;
    display: inline-block;
    height: 67px;
    background-color: #000;
    width: 1024px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    margin: 0 auto;
}

.header-nav li {
    padding: 0 30px;
}

.header-v2 .header-nav .main-nav .subnav-title>a {
    line-height: 67px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header-v2 .header-nav li .subnav-title>a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 67px;
    font-size: 16px;
    color: #fff;
}

/* 右边内容  */
.header-right {
    width: 152px;
    height: 67px;
}

.si {
    float: left;
    margin-left: 62px;
    width: 40px;
    height: 67px;
    padding-top: 33px;
    margin-right: 9px;
}

.st {
    float: left;
    width: 40px;
    height: 67px;
    padding-top: 33px;
}

/* 字体图标 */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 导航栏下拉内容1  */
.header-subnav {
    z-index: 999;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    /* height: 60px; */
    background-color: #fff;
}

.subnav-ul li {
    float: none;
    display: inline-block;
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    /* background-color: darksalmon; */
    font-size: 18px;
    color: #000;
}

/* 导航栏下拉内容2 */
.subnav-lists {
    z-index: 999;
    position: absolute;
    top: 120px;
    width: 100%;
    /* height: 380px; */
    background-color: #f5f5f5;
}

.lists-box {
    display: none;
    position: absolute;
    position: relative;
    margin: 40px auto;
    width: 100%;
    height: 246px;
}

.hot-products {
    margin-left: 133px;
    width: 947px;
    height: 246px;
}

.hot-products li {
    width: 230px;
    padding: 0 30px;
    float: none;
    display: inline-block;
}

.hot-products a {
    width: 170px;
    height: 246px;
}

.item-img {
    width: 170px;
    height: 173px;
    line-height: 173px;
    margin: 0 auto 7px;
}

.item-img img {
    width: 100%;
}

.item-name {
    text-align: center;
    margin: 0 0 10px;
}

.badge-new {
    text-align: center;
    margin: 0 auto;
    width: 40px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7.5px;
    background-image: -moz-linear-gradient(109deg, #ff00d0 9%, #4e73ff 35%, #00b1ff 63%, #0ff 98%);
    background-image: -o-linear-gradient(109deg, #ff00d0 9%, #4e73ff 35%, #00b1ff 63%, #0ff 98%);
    background-image: -webkit-linear-gradient(109deg, #ff00d0 9%, #4e73ff 35%, #00b1ff 63%, #0ff 98%);
    background-image: linear-gradient(109deg, #ff00d0 9%, #4e73ff 35%, #00b1ff 63%, #0ff 98%);
}

.btn-operate {
    bottom: 91px;
    position: absolute;
    right: 107px;
    width: 187px;
    height: 143px;
    margin-top: -80px;
}

.ho-btn {
    display: block;
    padding: 0 40px;
    min-width: 152px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    border-radius: 27.5px;
    background-color: #fff;
    border: 0;
}

.ho-btn:first-child {
    margin-bottom: 35px;
}

/* 二.轮播图  */
.slideshow {
    width: 100%;
    height: 664px;
    background-color: darkseagreen;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
img {
    border: 0;
}

/* flexslider */
.flexslider {
    position: relative;
    height: 655px;
    overflow: hidden;
    background: url(../images/index/honor-loading.gif) 50% no-repeat;
}

.slides {
    position: relative;
    z-index: 1;
}

.slides li {
    height: 655px;
}

.flex-control-nav {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.flex-control-nav li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    *display: inline;
    zoom: 1;
}

.flex-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 40px;
    overflow: hidden;
    background: url(../images/index/dot.png) right 0 no-repeat;
    cursor: pointer;
}

.flex-control-nav .flex-active {
    background-position: 0 0;
}

.flex-direction-nav {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 45%;
}

.flex-direction-nav li a {
    bottom: -353px;
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
}

.flex-direction-nav li a.flex-prev {
    left: 40px;
    background: url(../images/index/prev.png) center center no-repeat;
}

.flex-direction-nav li a.flex-next {
    right: 40px;
    background: url(../images/index/next.png) center center no-repeat;
}

/* 三.商品区 */
.c02-pc-products-section {
    width: 1423px;
    height: 1324px;
    background-color: #f5f5f5;
    padding: 10px 0 120px;
}

.wrap {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}

.col-md-6 {
    margin-left: 18px;
    float: left;
    background-color: #fff;
    width: 325px;
    height: 547px;
    margin-top: 20px;
}

.products__content {
    position: relative;
    z-index: 2;
    background-color: #fff;
    text-align: center;
    padding: 90px 20px 40px;
}

.stoo {
    text-align: center;
    width: 324px;
    height: 418px;
    margin-top: 118px;
}

.products__title {
    color: #000;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 11px;
    font-family: "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

.products__subtitle {
    display: block;
    color: #000;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
}

.products__image-holder {
    padding-left: 28px;
    height: 350px;
    width: 298px;
    display: block;
}

.products__image-holder img {
    width: 230px;
    height: 230px;
    margin-top: 33px;
    transition: .3s ease-in-out;
    z-index: 1;
}

.products__image-holder img:nth-child(7) {
    width: 230px;
    height: 230px;
}

.products__image-holder>img:hover {
    width: 250px;
    height: 250px;
    transition: .3s ease-in-out;
    z-index: 1;
}

/* 四.展示区 */
.c03-pc-campaign-list-section {
    width: 100%;
    height: 879px;
    background-color: #f5f5f5;
    padding-bottom: 130px;
}

.wrap {
    max-width: 1460px;
    width: 100%;
    height: 749px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    width: 100%;
    height: 749px;
    margin-right: -5px;
    margin-left: 3px;
}

.gradient-shadow {
    position: relative;
    display: inline-block;
    width: 684px;
    height: 630px;
    background-color: powderblue;
}

.gradient-shadow img {
    width: 688px;
    height: 630px;
}

.gradient-shadow:last-child {
    margin-left: 9px;
}

.campaign__box {
    left: 35px;
    position: absolute;
    margin: -81px auto 0;
    width: 88%;
    height: 156px;
}

.gradient-shadow__hove {
    width: 604px;
    height: 156px;
    background-color: seashell;
}

.campaign__content {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 32px;
    background-color: #fff;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.campaign__date {
    color: #000;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 13px;
    width: 50%;
}

.c03-pc-campaign-list-section .campaign__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 1.33;
}

.campaign__link-wrap {
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

.ie__link {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff00d0), color-stop(#4e73ff), color-stop(#00b1ff), to(#0ff));
    background-image: linear-gradient(to right, #ff00d0, #4e73ff, #00b1ff, #0ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    line-height: 1;
}

.center {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.gradient-border {
    display: inline-block;
    margin-top: 65px;
    width: 152px;
    height: 54px;
    line-height: 54px;
    border-radius: 30px;
    background: url(../images/index/button-gradient-bg.png) top center/cover no-repeat;
    position: relative;
    z-index: 10;
}

.honor-cn .gradient-border:hover {
    background: transparent;
    -webkit-box-shadow: inset 0 0 0 1px #000;
    box-shadow: inset 0 0 0 1px #000;
}

.gradient-border__link {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    display: block;
    cursor: pointer;
}

.honor-cn .gradient-border__text {
    display: block;
}

/* 五.服务 */
.footer {
    width: 100%;
    min-width: 1200px;
    font-family: 'Avenir Next Regular', 'ProximaNova';
}

.footer-cn {
    background: #f5f5f5;
    width: 100%;
    font-family: 'Microsoft YaHei';
}

.footer-box {
    background: #f0f0f0;
    width: 100%;
    padding-top: 20px;
}

.footer-cn .line-top {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer .wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer .footer-cn .np {
    padding-top: 45px;
    padding-bottom: 20px;
}

.footer-box .wrapper ul.more5 {
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.footer-cn .wrapper ul {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    width: 70%;
    float: left;
}

.footer-box .wrapper ul {
    overflow: hidden;
    padding-left: 0;
}

.footer-box .wrapper ul.more5 li {
    width: inherit;
}

.footer-cn li {
    width: 20%;
    position: relative;
}

.footer-box li {
    list-style: none;
    float: left;
    width: 25%;
}

.footer-cn .bottom {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

.footer-cn li h3 {
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
}

.footer-box li h3 {
    margin-bottom: 22px;
    font-size: 17px;
}

.honor-cn h1,
.honor-cn h2,
.honor-cn h3,
.honor-cn h4,
.honor-cn h5,
.honor-cn h6 {
    font-family: "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    color: #000;
}

.footer-cn .cnplus {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 47px;
    z-index: 1;
    cursor: pointer;
}

.footer-box li .item-link {
    display: inline-block;
    font-size: 12px;
}

.footer-cn li .item-link p,
.footer-cn li .item-link a {
    font-size: 14px;
    font-family: 'Microsoft YaHei';
}

.footer-box li .item-link a,
.footer-box li .item-link p {
    display: block;
    color: #666;
    line-height: 1.25;
    margin: 0;
    padding: 6px 0;
    word-break: break-word;
}

.footer-cn .bottom {
    text-align: center;
    padding-top: 260px;
    padding-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

.footer-cn .bottom .link a:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-cn .bottom .link a {
    padding: 0 10px;
}


.footer-cn .concat-part .service-title {
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    position: relative;
    top: -3px;
    left: 5px;
}

.footer-cn .concat-part .phone-number {
    font-size: 24px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
}

.footer-cn .concat-part {
    width: 30%;
    float: left;
    padding-left: 90px;
    padding-top: 20px;
}

.footer-cn .concat-part .social-title {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    margin-right: 10px;
}

.social-media {
    margin-top: 10px;
}

.footer-cn .bottom {
    margin-top: 182px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

.itemLists {
    padding-left: 1px;
}

/* 返回顶部 */
.go-back-top {
    display: none;
    position: fixed;
    bottom: 38px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

.back-content {
    position: relative;
    width: 44px;
    height: 44px;
    color: #fff;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.23);
    background-color: #000;
    border-radius: 50%;
}

.top-tip {
    margin-top: -9px;
    margin-bottom: 0;
    font-size: 14px;
    transform: none;
}